header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h4 {
    background-color: turquoise;
    border-color: black;
    border-radius: 10px;
    width: 100px;
    height: 10px;
    padding: 10px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Trivia Game Box */

.trivia-game {
    background-color: green;
    border-color: grey;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
}

.question {
    background-color: #265480;
    border-color: #133353;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
}

.answers {
    background-color: #218957;
    border-color: #4A9470;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(4, 1fr);
}

.answer-pool {
    background-color: #c5882F;
    border-color: #d4A96A;
    border-radius: 10px;
    width: 400px;
    height: 10px;
    padding: 10px;
    margin: 10px auto;
    display: grid;
    grid-gap: 5px;
    /* grid-template: repeat(4, 1fr) */
}

/* Buttons */

#start {
    display: block;
    margin: 10px auto;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

#next {
    display: block;
    margin: 10px auto;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}