header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1 {
    color: #01371D;
}

h4 {
    background-color: #c5562f;
    border-color: #c5562f;
    border-radius: 10px;
    width: 100px;
    height: 10px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-gap: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #728CA6;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #ffdcaa;
    text-align: center;
}
/* Trivia Game Box */

.trivia-game {
    background-color: #01371D;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 10px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
}

.question {
    background-color: #265480;
    border-color: #133353;
    color: #ffdcaa;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    padding: 10px;
    margin: 10px auto;
    display: grid;
}

.answers {
    background-color: #0F5935;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-gap: 5px;
}

.answer-pool {
    background-color: #c5882f;
    color: #051c33;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    width: 400px;
    height: 10px;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-gap: 5px;
}

.answer-pool:hover {
    background-color: #265480;
    color: #FFDCAA
}

/* .final-score {
    background-color: #265480;
    border-color: #133353;
    color: #ffdcaa;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    width: 450px;
    height: 200px;
    padding: 10px;
    margin: auto;
    display: grid;
} */

/* Buttons */

#reset {
    background-color: #c5562f;
    border-color: #c5562f;
    display: block;
    margin: 10px auto;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: #051c33;
    cursor: pointer;
}

#next {
    display: block;
    margin: 10px auto;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}